# Config file for automatic testing at travis-ci.org

language: python
services:
  - docker
sudo: required
addons:
  apt:
    packages:
     - sshpass
     - graphviz
matrix:
  include:
    - python: 3.6
      env: SLURM_CENTOS_VERSION=7 SLURM_VERSION=17.02.10
before_install:
  - source testing_setup/container_prepare_envs.sh
  - printenv | sort
install:
  - python testing_setup/full_setup.py
  - docker ps
script:
  - docker exec $SLURM_CONTAINER sinfo
  - docker exec $SLURM_CONTAINER scontrol show partition
  - docker exec $SLURM_CONTAINER sbatch --wrap="sleep 10"
  - docker exec $SLURM_CONTAINER squeue
  - sleep 5
  - docker exec $SLURM_CONTAINER squeue
  - sleep 10
  - docker exec $SLURM_CONTAINER squeue
  - sshpass -p pass-50 ssh -o "StrictHostKeyChecking no" -p 2222 user-50@localhost bash -c "squeue"
  - pip install -r requirements_dev.txt
  - python scripts/run_tests.py
  - python scripts/generate_diagrams.py
  - python scripts/build_docs.py --no-show
  - python scripts/view_coverage.py --no-show
after_success:
  - python testing_setup/full_teardown.py
  - python scripts/deploy_docs.py
env:
  global:
    secure: OD71Zl92cLE6wk+P/0P1MxbG6QhsgW4973XpL8FLMP1soe0GcWZREbafy3C60cI8xED0JNeYQ/mgX0I3U5fusnHylix8dt0njSH3pAfrxOxzX13ayIuk7Rl56IdcVXqNfCIvv9mwFEX/oiGbJcF773q0+4SKklhtAD5z7gedbJSLBV+yC/L8BuykE0Yk6asrQmZ9kVGz5FRcBZwpAj0ZwkR0aZIT6Jn9AnamMVRWsSmRC7xOtpxtbDEg8aeEOKY5O6LOFzSdoqQBqrd1Tnvln2wXmJ2wQCI9raeheT1+6WojV6c68kRGlWy0CQRu3bYcPzdXXsNBMhEeGsondhUkuqi6F9j6mAIDGX2IuGwsqIJ9dUJYfTaUBlNawFZm28RfxoHC+t0FHDb7nOm28f3z0yplnyWu+zLTwhgeje5GQORnjWiD47BM36Zb44zC2muvzxJS1CDw6RHGcm+0OAtnW8LNxyW2hLR0eLx7H2Dbkudnn3GspWqv6UJNXJAqUJm7+YA1tVYGSUWOzGa9lLXosoi0BQ9ro6NivcDrjDK08r1qdCIetYhcnh4OKlXkSXsfw4FcaxNp3Qj2t1/R+kAAUfDnjOn8/4Zl/7str11LHimbUutOEynLWZSI5tbKPnLP6t0buVOHsKuaHZHlNtZlss9tNXesNmMGhucbkMtNa4A=
